@import 'variables';
@import 'nav';
@import 'login';
@import 'home';
@import 'shop';
@import 'contact';
@import 'about';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

p,a{
    font-family: textFont;  
}

h1,h2,h3,h4{
    font-family: labelFont;
    letter-spacing: 0.07em;
}